
$white: #fff;
$black: #000;
$color_celeste_approx: #ccc;

.fc {
	max-width: 100% !important;
th {
	border-color: $color_celeste_approx !important;
	background: $white !important;
}
td {
	border-color: $color_celeste_approx !important;
	background: $white !important;
&.fc-limited {
	 display: table-cell !important;
 }
}
hr {
	border-color: $color_celeste_approx !important;
	background: $white !important;
}
thead {
	border-color: $color_celeste_approx !important;
	background: $white !important;
}
tbody {
	border-color: $color_celeste_approx !important;
	background: $white !important;
.fc-row {
	height: auto !important;
	min-height: 0 !important;
.fc-content-skeleton {
	position: static;
	padding-bottom: 0 !important;
table {
	height: 1em;
}
tbody tr:last-child td {
	padding-bottom: 1em;
}
}
}
}
button {
	display: none;
}
tr.fc-limited {
	display: table-row !important;
}
}
.fc-event {
	background: $white !important;
	color: $black !important;
	page-break-inside: avoid;
.fc-resizer {
	display: none;
}
}
.fc-row {
	border-color: $color_celeste_approx !important;
	background: $white !important;
	border: 0 !important;
	margin: 0 !important;
}
.fc-bg {
	display: none;
}
.fc-bgevent-skeleton {
	display: none;
}
.fc-highlight-skeleton {
	display: none;
}
.fc-helper-skeleton {
	display: none;
}
.fc-bgevent-container {
	display: none;
}
.fc-business-container {
	display: none;
}
.fc-highlight-container {
	display: none;
}
.fc-helper-container {
	display: none;
}
.fc-more-cell {
	display: none !important;
}
.fc-more {
	display: none !important;
}
.fc-popover {
	display: none;
}
.fc-time-grid {
	min-height: 0 !important;
hr {
	display: none !important;
}
.fc-content-skeleton {
	position: static;
table {
	height: 4em;
}
}
.fc-event-container {
	margin: 0 !important;
}
.fc-event {
	position: static !important;
	margin: 3px 2px !important;
&.fc-not-end {
	 border-bottom-width: 1px !important;
&:after {
	 content: "...";
 }
}
&.fc-not-start {
	 border-top-width: 1px !important;
&:before {
	 content: "...";
 }
}
.fc-time {
	white-space: normal !important;
span {
	display: none;
}
&:after {
	 content: attr(data-full);
 }
}
}
}
.fc-slats {
	display: none !important;
}
.fc-scroller {
	overflow: visible !important;
	height: auto !important;
}
.fc-day-grid-container {
	overflow: visible !important;
	height: auto !important;
}
.fc-time-grid-container {
	overflow: visible !important;
	height: auto !important;
}
.fc-button-group {
	display: none;
}
.fc-agenda-view .fc-axis {
	display: none;
}